<h1>勉強会検索サイト</h1>

<%= form_for 'event_search', :url=>{:action => 'index'} do |f| %>
  <%= f.text_field :keyword %>
  <%= f.submit "検索" %>
<% end %>

<% @events.each do |event| %>
  <p><%= event['title'] %></p>
  <p><%= event['place'] %></p>
<% end %>
